In [8]:
import csv, pandas as pd

# Read data from CSV into dataframe df
df = pd.read_csv('crunchbase_txt.csv', na_values=[''])

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.columns

Index(['company_name', 'country_code', 'state_code', 'city', 'status',
       'category_group_list', 'funding_total_usd', 'founded_on', 'closed_on',
       'uuid'],
      dtype='object')

In [17]:
# Take rows where total funding is not null
df = df[pd.notnull(df['funding_total_usd'])]

# Take rows where category not null and assign to new dataframe
df_category = df[pd.notnull(df['category_group_list'])]

# Take rows where country is not null and assign to a new dataframe
df_country = df[pd.notnull(df['country_code'])]

# Take rows where date of founding isn't null and assign it to a new dataframe
df_founding = df[pd.notnull(df['founded_on'])]

# df_founding

                    company_name country_code state_code             city  \
0                  MAILMAN GROUP          CHN        NaN         Shanghai
1                            Ola          IND        NaN        Bengaluru
2                            Viu          NaN        NaN              NaN
3                           Vyze          USA         TX           Austin
5                      Amplitude          USA         CA    San Francisco
6        Apellis Pharmaceuticals          USA         KY        Crestwood
7                           Apli          MEX        NaN       Cuauhtémoc
8            Auvik Networks Inc.          CAN         ON         Waterloo
9                          Baibu          CHN        NaN        Guangzhou
13                    Cindicator          USA         NY         New York
14                      Coinbase          USA         CA    San Francisco
15                        e-bot7          DEU        NaN           Munich
16                      Filecoin          USA         CA        Palo Alto
17                      Flipkart          IND        NaN        Bangalore
19                     Flyspaces          PHL        NaN           Makati
20                       GawkBox          USA         WA          Seattle
23                     Glint Pay          GBR        NaN           London
26                    JetSmarter          USA         FL  Fort Lauderdale
31                     Nextremer          JPN        NaN            Tokyo
32           Ocular Data Systems          USA         CA         Pasadena
33                    PCCW Media          HKG        NaN         Wan Chai
34                       PosiGen          USA         LA         Metairie
35            Press Technologies          USA         TX           Austin
36                 Protocol Labs          USA         CA    San Francisco
37                  Rivetz, Inc.          USA         CA        San Mateo
38                     SNAPnSAVE          ZAF        NaN        Cape Town
39                SponsorShipped          USA         NY         New York
41              StreetLight Data          USA         CA    San Francisco
43                         Tetra          NaN        NaN              NaN
45          webLyzard technology          AUT        NaN           Vienna
...                          ...          ...        ...              ...
98155                    JPE Inc          USA         MI     Auburn Hills
98159                    Praxair          USA         CT          Danbury
98160         Galileo Technology          USA         CA         San Jose
98161              RAV Antivirus          ROM        NaN        Bucharest
98165  Jerusalem Global Ventures          ISR        NaN        Jerusalem
98166          Viewpoint Digital          GBR        NaN     Huddersfield
98167  Cambridge SamsungPartners          USA         MA           Boston
98168                      EXELL          BEL        NaN         Brussels
98180               WESTCom gmbh          DEU        NaN          Hamburg
98188   Netaxs Internet Services          ESP        NaN           Madrid
98199          Visio Corporation          USA         WA          Seattle
98203                  GECAD NET          ROM        NaN        Bucharest
98233                 Stericycle          USA         IL      Lake Forest
98242                  Microinox          BRA        NaN    Caxias Do Sul
98244                  NHK World          JPN        NaN            Tokyo
98246                      Cisco          USA         CA         San Jose
98252                Curtume Erê          BRA        NaN   Getúlio Vargas
98253                    Aeromot          BRA        NaN     Porto Alegre
98254                    Digitel          BRA        NaN         Alvorada
98258                    Knoware          NZL        NaN       Wellington
98259       Morcom International          USA         VA        Chantilly
98261          Linear Technology          USA         CA         Milpitas
98262            Electronic Arts          USA         CA     Redwood City
98264          Laboratórios Noli          BRA        NaN     Porto Alegre
98265                       Ikro          BRA        NaN           Canoas
98266   Toyota Motor Corporation          JPN        NaN              NaN
98268                     Compaq          USA         CA        Palo Alto
98269                  Microsoft          USA         WA          Redmond
98270                  Intercomp          USA         OH           Medina
98271                      Intel          USA         CA      Santa Clara

          status                                category_group_list  \
0      operating                    advertising|sales and marketing
1      operating  apps|commerce and shopping|internet services|m...
2      operating  content and publishing|media and entertainment...
3      operating  commerce and shopping|financial services|hardw...
5      operating                          data and analytics|mobile
6      operating  biotechnology|health care|science and engineering
7      operating  administrative services|commerce and shopping|...
8      operating  information technology|internet services|software
9      operating  financial services|lending and investments|man...
13     operating  artificial intelligence|data and analytics|fin...
14     operating  commerce and shopping|financial services|payme...
15     operating  artificial intelligence|data and analytics|inf...
16     operating  consumer electronics|financial services|hardwa...
17     operating  clothing and apparel|commerce and shopping|com...
19     operating  community and lifestyle|information technology...
20     operating             advertising|gaming|sales and marketing
23     operating         financial services|lending and investments
26     operating  internet services|transportation|travel and to...
31     operating                          data and analytics|design
32     operating                    hardware|information technology
33     operating                      media and entertainment|video
34     operating  education|energy|natural resources|software|su...
35     operating         clothing and apparel|energy|sustainability
36     operating  information technology|internet services|priva...
37     operating    hardware|internet services|privacy and security
38     operating                              commerce and shopping
39     operating  data and analytics|events|media and entertainm...
41     operating  data and analytics|government and military|inf...
43     operating                                      apps|software
45     operating  data and analytics|design|information technolo...
...          ...                                                ...
98155     closed                       manufacturing|transportation
98159        ipo                           energy|natural resources
98160   acquired  consumer electronics|energy|hardware|manufactu...
98161   acquired             internet services|privacy and security
98165  operating         financial services|lending and investments
98166   acquired      consumer electronics|design|hardware|software
98167  operating                                 financial services
98168  operating                              commerce and shopping
98180   acquired                                           hardware
98188  operating                                  internet services
98199   acquired                                           software
98203  operating             design|information technology|software
98233        ipo  biotechnology|health care|science and engineering
98242  operating  manufacturing|science and engineering|transpor...
98244  operating     content and publishing|media and entertainment
98246        ipo                                  hardware|software
98252  operating                       consumer goods|manufacturing
98253  operating    government and military|science and engineering
98254  operating  data and analytics|design|information technolo...
98258  operating                                             gaming
98259  operating                  hardware|internet services|mobile
98261  operating  hardware|manufacturing|science and engineering...
98262        ipo      consumer electronics|gaming|hardware|software
98264  operating                                        health care
98265  operating                       manufacturing|transportation
98266  operating                              mobile|transportation
98268   acquired           hardware|information technology|software
98269        ipo               internet services|platforms|software
98270  operating                                  hardware|software
98271        ipo  design|hardware|manufacturing|science and engi...

      funding_total_usd  founded_on closed_on  \
0           18,000,000   1999-01-01       NaN
1        1,752,942,518   2010-12-03       NaN
2          110,000,000   2015-10-26       NaN
3           47,235,004   2008-09-01       NaN
5           56,000,000   2012-01-01       NaN
6          168,509,987   2008-01-01       NaN
7            1,500,000   2016-04-01       NaN
8           18,210,210   2011-11-01       NaN
9           26,205,051   2014-12-01       NaN
13             470,000   2015-01-01       NaN
14         217,209,590   2012-06-01       NaN
15             747,844   2016-05-15       NaN
16          52,120,000   2014-01-01       NaN
17       7,122,140,000   2007-09-01       NaN
19           2,600,000   2015-01-01       NaN
20           3,700,000   2016-01-16       NaN
23           4,021,978          NaN       NaN
26         130,200,000   2012-01-01       NaN
31           4,262,333   2012-10-01       NaN
32             500,000   2016-01-01       NaN
33         110,000,000   1997-01-01       NaN
34          43,000,000   2011-01-01       NaN
35             500,000   2015-10-01       NaN
36         255,000,000   2014-01-01       NaN
37           5,500,000   2013-01-01       NaN
38           1,047,215   2014-01-01       NaN
39             500,000   2016-11-30       NaN
41           9,900,000   2010-01-01       NaN
43           1,500,000          NaN       NaN
45           5,454,039   2008-01-01       NaN
...                 ...         ...       ...
98155       50,000,000          NaN       NaN
98159          195,218   1907-01-01       NaN
98160        4,500,000   1993-01-01       NaN
98161          100,000   1994-01-01       NaN
98165        3,000,000   1994-01-01       NaN
98166       15,000,000   1988-01-01       NaN
98167       50,000,000   1996-01-01       NaN
98168        1,000,000   1991-01-01       NaN
98180           50,000   1993-01-01       NaN
98188           10,000          NaN       NaN
98199        4,420,000   1989-01-01       NaN
98203        1,000,000   1992-01-01       NaN
98233        7,100,000   1989-01-01       NaN
98242          476,000   1980-01-01       NaN
98244           12,400   1935-06-01       NaN
98246        2,500,000   1984-12-01       NaN
98252          169,000          NaN       NaN
98253          243,000   1967-01-01       NaN
98254          666,000   1978-01-01       NaN
98258        2,000,000   1979-01-01       NaN
98259          100,000   1984-08-12       NaN
98261       17,500,000   1981-01-01       NaN
98262        2,200,000   1982-01-01       NaN
98264          155,000          NaN       NaN
98265          724,000   1947-01-01       NaN
98266       42,000,000   1937-08-28       NaN
98268        1,500,000   1982-02-14       NaN
98269        1,000,000   1974-04-04       NaN
98270          549,000   1968-01-01       NaN
98271        2,510,000   1968-07-18       NaN

                                       uuid
0      43499bb5-2f2e-4b8e-7241-4f05e913e19c
1      3efb86a2-65fa-03be-5dca-2820417e2912
2      90568f60-9893-a0a5-bb0f-1a2266356cf8
3      b1047eaf-343f-309c-339a-3b1bc5f22b55
5      0fef70cb-af81-c9b6-b9e0-aa5fc3b50829
6      b1e29af9-941a-2cba-faee-b7264548b6a6
7      c1b4511e-67b1-e185-3489-3660134b1430
8      dcd6c4cb-c912-2c37-83aa-0046d09b3052
9      4b31f93e-fb64-bfa8-6173-336452d30b70
13     cbc1153f-943a-cec7-dc44-7a701a58fcdb
14     66e40cf4-9685-ff3b-b5a7-0d43cc45eefb
15     d6560d3c-1c5c-4d93-7fc2-ae5b9b7eb15c
16     4f4e0226-38df-922b-eaaf-82b534d4959f
17     43b9e775-b843-f194-fb96-d266684cfb53
19     795931ef-19ad-4529-8926-8d96e59b6a23
20     c4434087-89ab-a0e8-65f8-29f1ded9cd55
23     73a901d1-4262-bd3d-f886-9fab30249b0a
26     6f78176b-3ac4-2cd1-5080-c6abcbf39d8c
31     b9f99be2-f682-cf24-0289-dfabd0674388
32     294b963f-a02c-2e2b-9df3-f2ea673eb995
33     45210076-8e44-0015-8aed-9bcf1a134a68
34     8aa15614-fceb-c684-b676-218a13ca2f24
35     cae26a6b-85c8-3e0f-6f22-29fae9ae7bff
36     1090e5b7-9cdf-2e07-8e84-90864c3ae8e4
37     ee916cc9-6b46-bf29-9d66-e797cb8eebd2
38     203ecb6f-9a31-9251-fc40-c741e5897b4e
39     0f8c6bee-a754-078b-0f7e-5446e76d32ce
41     0e9b4779-80dc-b75a-868d-b43de012a836
43     d27ced4b-60c9-7b13-9dd5-f4a0cb6858f3
45     a3e977af-8180-1bf1-c648-7cc51e6fb71d
...                                     ...
98155  bcf7390f-f4e3-b13f-40c7-92f687b970dc
98159  c11ccbec-5525-1fa0-690c-69f1b3dc9ac0
98160  9a6c5be4-483e-29f3-aaa8-07049fc89ee5
98161  0a483d2f-6a63-6980-7212-cf244dfa8b7d
98165  e6ce2171-3d18-41a0-0a92-e4884cebd241
98166  addf6169-98fd-71ad-9790-8d2b437d5042
98167  9f5f9cbe-7941-d303-4400-6b43d2654499
98168  5b7d93ff-3e35-ce8f-263c-ea738d7b81ad
98180  8f0b5a1d-4e4a-444c-03e9-33e9b680be00
98188  47596185-9e7c-d27e-c65a-c929d80298c4
98199  49e46b63-08e8-a624-4f89-6f9e7cb8ce89
98203  8cbe48dd-7f08-266a-084b-63c664e973ca
98233  86d4ca60-2c45-aa6c-8ef4-94171486c3f0
98242  54d2921e-9bee-5a4c-a827-5cb661f6ab3a
98244  79dbb1e1-ad49-0546-88e5-8cc367097c8c
98246  e0906c05-fae5-9591-ba5f-2142d8b0065a
98252  83ae6334-ea55-399f-b285-3d924e0d0144
98253  185a6bc8-1368-f075-a335-5a9276ab16cf
98254  a9974969-5a5b-a5c4-c658-cc4007078dd2
98258  66d6d19a-4852-0c21-0098-4080cb90d2ac
98259  818df5a6-4a0a-6d87-5778-4dd7ca73fb09
98261  27bb6fe7-0a5d-01c6-30af-55bd8e94c8e6
98262  5a6207e2-b868-9f41-5178-8d51d2c40a93
98264  e378c0e6-278b-6243-6776-c61fdbcdc004
98265  322eee3f-a036-651f-5754-0f8759374699
98266  12b90373-ab49-a56a-4b4e-c7b3e9236faf
98268  10a3b2fd-b142-046b-7d8f-3b1aa4877aca
98269  fd80725f-53fc-7009-9878-aeecf1e9ffbb
98270  6681b1b0-0cea-6a4a-820d-60b15793fa66
98271  1e4f199c-363b-451b-a164-f94571075ee5

[71374 rows x 10 columns]

In [11]:
# for index, row in df.iterrows():
#    print(row['funding_total_usd'], row['founded_on'])

# Instantiate each unique country code to have value 0
countries = {}
country_count = {}
for country in df_country.country_code.unique():
    countries[country] = 0;
    country_count[country] = 0;

In [12]:
# Sum total funding for all countries
for index, row in df_country.iterrows():
    fundingStr = row['funding_total_usd']
    fundingStr = fundingStr.strip()
    fundingStr = fundingStr.replace(',', '')
    countries[row['country_code']] += int(fundingStr)
    country_count[row['country_code']] += 1
    
# Compute averages
for key, value in countries.items():
    countries[key] = (countries[key] / country_count[key])
    
# Print averages
print("Average funding for each country:\n")
for key, value in countries.items():
    print(key, value)

Average funding for each country:

IRQ 25000.0
KAZ 403333.3333333333
MOZ 350000.0
BRB 5500000.0
HND 4500.0
SVK 1409824.0263157894
ARM 18664694.833333332
SVN 783447.0243902439
IMN 5000000.0
BLZ 265721.0
ECU 214163.41666666666
NGA 23360010.526785713
CIV 6547546.166666667
MNE 12200000.0
ZMB 304411.2
VNM 14635196.857142856
ETH 103717400.0
DNK 7592461.48
LVA 6862851.76056338
SEN 3612972.0
COD 11554262.0
PRK 151433.0
JAM 416694000.0
MDA 32800.0
MUS 119476217.57142857
DOM 129532.66666666667
IRL 14117805.59489051
NOR 12432057.826315789
HRV 561854.875
GGY 3480000.0
NPL 1507623.142857143
PAN 1869841.7857142857
HUN 1501137.5131578948
MYS 11632458.905405406
GTM 3232290.5714285714
LBN 1287861.111111111
TTO 3378857.1428571427
ISR 13051112.515297906
CHN 111405512.59675732
GBR 11812811.673465604
SRB 403431.7826086957
EST 1607614.617886179
CAN 13324539.639256198
SLE 20000000.0
AUT 8179889.104938271
GRC 3622853.8181818184
URY 1454634.4
ROM 1430773.3076923077
BEL 7543402.579470199
KEN 43088323.45454545
SYC 217500.0
QAT 103091000.0
LKA 2541939.888888889
KWT 3442666.6
LUX 30746395.255813953
TGO 407800000.0
VEN 258473.9
IRN 39893826.375
ZAF 58892604.6462585
CHE 29458968.73496659
GRD 750000000.0
GHA 2507253.8095238097
IDN 36071059.448275864
SLV 616666.6666666666
TUN 3535354.0
BGR 515246.0909090909
FIN 5301937.262337662
CRI 464322.14285714284
RUS 40592769.59965338
PAK 6471294.975609756
HTI 2500000.0
OMN 64103536.5
PRI 2080985.857142857
MAF 29243184.0
KOR 13446969.674369749
FRA 12150381.671145234
BMU 132451682.76923077
MDG 28900000.0
BRA 11890074.028318584
UKR 1181314.5546218487
ARE 33256525.44370861
UZB 90000.0
NIC 475000.0
MLI 17585481.0
SGP 24024777.584026624
GEO 233717.14285714287
BAH 3386666.6666666665
ALB 2561481.5
NZL 13343116.212765958
PHL 43629950.7654321
DEU 17984460.597266883
AUS 12292790.585142856
JPN 41046143.03212851
MLT 2207659.3333333335
SAU 1145279.0
TUR 4084241.728643216
HKG 19101748.617363345
SOM 2000000.0
GIB 12550898.5
COL 10255713.430232558
USA 23304588.214711685
NLD 14301231.787682334
ITA 4157476.7495395946
DMA 100000.0
THA 17614584.05952381
AZE 527998.7692307692
CYP 3951346.222222222
LTU 2754292.593220339
STP 165000000.0
JEY 24381727.666666668
SWE 12407827.792922674
ISL 1371913.695431472
ESP 14860726.447396386
PSE 2380000.0
BIH 40306.0
POL 16574187.530434782
LBR 20000000.0
JOR 2908937.911764706
EGY 12814700.347222222
BLR 399545.45454545453
DZA 27689406.0
LIE 4453268.0
CHL 369352.5143678161
ARG 3115011.5616438356
TAN 11673640.466666667
CMR 108201.25
PER 1777632.948275862
PRT 1918796.8731343283
LAO 2100000.0
BGD 4339423.380952381
IND 24588596.449462365
ZWE 15390333.333333334
DJI 30000000.0
MAR 3091123.375
RWA 742498.6
REU 54504.0
COG 105000000.0
BWA 375500.0
MKD 663613.6666666666
MMR 1237783.8333333333
BHR 8388756.333333334
PRY 3412500.0
MTQ 1490000.0
MCO 658290.3333333334
CZE 5531039.357894737
UGA 3543425.3157894737
KHM 542142.8571428572
TWN 14101891.357142856
CYM 17043109.23529412
MEX 6621503.305309734

In [13]:
categories = {}
category_count = {}
for catList in df_category.category_group_list:
    cats = catList.split('|')
    for cat in cats:
        categories[cat] = 0
        category_count[cat] = 0

In [15]:
for index, row in df_category.iterrows():
    catsList = row['category_group_list']
    cats = catsList.split('|')
        fundingStr = row['funding_total_usd']
        fundingStr = fundingStr.strip()
        fundingStr = fundingStr.replace(',', '')
    for cat in cats:
        categories[cat] += int(fundingStr)
        category_count[cat] += 1

0                    MAILMAN GROUP
1                              Ola
2                              Viu
3                             Vyze
5                        Amplitude
6          Apellis Pharmaceuticals
7                             Apli
8              Auvik Networks Inc.
9                            Baibu
13                      Cindicator
14                        Coinbase
15                          e-bot7
16                        Filecoin
17                        Flipkart
19                       Flyspaces
20                         GawkBox
23                       Glint Pay
26                      JetSmarter
31                       Nextremer
32             Ocular Data Systems
33                      PCCW Media
34                         PosiGen
35              Press Technologies
36                   Protocol Labs
37                    Rivetz, Inc.
38                       SNAPnSAVE
39                  SponsorShipped
41                StreetLight Data
43                           Tetra
45            webLyzard technology
                   ...
98155                      JPE Inc
98159                      Praxair
98160           Galileo Technology
98161                RAV Antivirus
98165    Jerusalem Global Ventures
98166            Viewpoint Digital
98167    Cambridge SamsungPartners
98168                        EXELL
98180                 WESTCom gmbh
98188     Netaxs Internet Services
98199            Visio Corporation
98203                    GECAD NET
98233                   Stericycle
98242                    Microinox
98244                    NHK World
98246                        Cisco
98252                  Curtume Erê
98253                      Aeromot
98254                      Digitel
98258                      Knoware
98259         Morcom International
98261            Linear Technology
98262              Electronic Arts
98264            Laboratórios Noli
98265                         Ikro
98266     Toyota Motor Corporation
98268                       Compaq
98269                    Microsoft
98270                    Intercomp
98271                        Intel
Name: company_name, Length: 71374, dtype: object
0        CHN
1        IND
2        NaN
3        USA
5        USA
6        USA
7        MEX
8        CAN
9        CHN
13       USA
14       USA
15       DEU
16       USA
17       IND
19       PHL
20       USA
23       GBR
26       USA
31       JPN
32       USA
33       HKG
34       USA
35       USA
36       USA
37       USA
38       ZAF
39       USA
41       USA
43       NaN
45       AUT
        ...
98155    USA
98159    USA
98160    USA
98161    ROM
98165    ISR
98166    GBR
98167    USA
98168    BEL
98180    DEU
98188    ESP
98199    USA
98203    ROM
98233    USA
98242    BRA
98244    JPN
98246    USA
98252    BRA
98253    BRA
98254    BRA
98258    NZL
98259    USA
98261    USA
98262    USA
98264    BRA
98265    BRA
98266    JPN
98268    USA
98269    USA
98270    USA
98271    USA
Name: country_code, Length: 71374, dtype: object
0        NaN
1        NaN
2        NaN
3         TX
5         CA
6         KY
7        NaN
8         ON
9        NaN
13        NY
14        CA
15       NaN
16        CA
17       NaN
19       NaN
20        WA
23       NaN
26        FL
31       NaN
32        CA
33       NaN
34        LA
35        TX
36        CA
37        CA
38       NaN
39        NY
41        CA
43       NaN
45       NaN
        ...
98155     MI
98159     CT
98160     CA
98161    NaN
98165    NaN
98166    NaN
98167     MA
98168    NaN
98180    NaN
98188    NaN
98199     WA
98203    NaN
98233     IL
98242    NaN
98244    NaN
98246     CA
98252    NaN
98253    NaN
98254    NaN
98258    NaN
98259     VA
98261     CA
98262     CA
98264    NaN
98265    NaN
98266    NaN
98268     CA
98269     WA
98270     OH
98271     CA
Name: state_code, Length: 71374, dtype: object
0               Shanghai
1              Bengaluru
2                    NaN
3                 Austin
5          San Francisco
6              Crestwood
7             Cuauhtémoc
8               Waterloo
9              Guangzhou
13              New York
14         San Francisco
15                Munich
16             Palo Alto
17             Bangalore
19                Makati
20               Seattle
23                London
26       Fort Lauderdale
31                 Tokyo
32              Pasadena
33              Wan Chai
34              Metairie
35                Austin
36         San Francisco
37             San Mateo
38             Cape Town
39              New York
41         San Francisco
43                   NaN
45                Vienna
              ...
98155       Auburn Hills
98159            Danbury
98160           San Jose
98161          Bucharest
98165          Jerusalem
98166       Huddersfield
98167             Boston
98168           Brussels
98180            Hamburg
98188             Madrid
98199            Seattle
98203          Bucharest
98233        Lake Forest
98242      Caxias Do Sul
98244              Tokyo
98246           San Jose
98252     Getúlio Vargas
98253       Porto Alegre
98254           Alvorada
98258         Wellington
98259          Chantilly
98261           Milpitas
98262       Redwood City
98264       Porto Alegre
98265             Canoas
98266                NaN
98268          Palo Alto
98269            Redmond
98270             Medina
98271        Santa Clara
Name: city, Length: 71374, dtype: object
0        operating
1        operating
2        operating
3        operating
5        operating
6        operating
7        operating
8        operating
9        operating
13       operating
14       operating
15       operating
16       operating
17       operating
19       operating
20       operating
23       operating
26       operating
31       operating
32       operating
33       operating
34       operating
35       operating
36       operating
37       operating
38       operating
39       operating
41       operating
43       operating
45       operating
           ...
98155       closed
98159          ipo
98160     acquired
98161     acquired
98165    operating
98166     acquired
98167    operating
98168    operating
98180     acquired
98188    operating
98199     acquired
98203    operating
98233          ipo
98242    operating
98244    operating
98246          ipo
98252    operating
98253    operating
98254    operating
98258    operating
98259    operating
98261    operating
98262          ipo
98264    operating
98265    operating
98266    operating
98268     acquired
98269          ipo
98270    operating
98271          ipo
Name: status, Length: 71374, dtype: object
0                          advertising|sales and marketing
1        apps|commerce and shopping|internet services|m...
2        content and publishing|media and entertainment...
3        commerce and shopping|financial services|hardw...
5                                data and analytics|mobile
6        biotechnology|health care|science and engineering
7        administrative services|commerce and shopping|...
8        information technology|internet services|software
9        financial services|lending and investments|man...
13       artificial intelligence|data and analytics|fin...
14       commerce and shopping|financial services|payme...
15       artificial intelligence|data and analytics|inf...
16       consumer electronics|financial services|hardwa...
17       clothing and apparel|commerce and shopping|com...
19       community and lifestyle|information technology...
20                  advertising|gaming|sales and marketing
23              financial services|lending and investments
26       internet services|transportation|travel and to...
31                               data and analytics|design
32                         hardware|information technology
33                           media and entertainment|video
34       education|energy|natural resources|software|su...
35              clothing and apparel|energy|sustainability
36       information technology|internet services|priva...
37         hardware|internet services|privacy and security
38                                   commerce and shopping
39       data and analytics|events|media and entertainm...
41       data and analytics|government and military|inf...
43                                           apps|software
45       data and analytics|design|information technolo...
                               ...
98155                         manufacturing|transportation
98159                             energy|natural resources
98160    consumer electronics|energy|hardware|manufactu...
98161               internet services|privacy and security
98165           financial services|lending and investments
98166        consumer electronics|design|hardware|software
98167                                   financial services
98168                                commerce and shopping
98180                                             hardware
98188                                    internet services
98199                                             software
98203               design|information technology|software
98233    biotechnology|health care|science and engineering
98242    manufacturing|science and engineering|transpor...
98244       content and publishing|media and entertainment
98246                                    hardware|software
98252                         consumer goods|manufacturing
98253      government and military|science and engineering
98254    data and analytics|design|information technolo...
98258                                               gaming
98259                    hardware|internet services|mobile
98261    hardware|manufacturing|science and engineering...
98262        consumer electronics|gaming|hardware|software
98264                                          health care
98265                         manufacturing|transportation
98266                                mobile|transportation
98268             hardware|information technology|software
98269                 internet services|platforms|software
98270                                    hardware|software
98271    design|hardware|manufacturing|science and engi...
Name: category_group_list, Length: 71374, dtype: object
0            18,000,000
1         1,752,942,518
2           110,000,000
3            47,235,004
5            56,000,000
6           168,509,987
7             1,500,000
8            18,210,210
9            26,205,051
13              470,000
14          217,209,590
15              747,844
16           52,120,000
17        7,122,140,000
19            2,600,000
20            3,700,000
23            4,021,978
26          130,200,000
31            4,262,333
32              500,000
33          110,000,000
34           43,000,000
35              500,000
36          255,000,000
37            5,500,000
38            1,047,215
39              500,000
41            9,900,000
43            1,500,000
45            5,454,039
              ...
98155        50,000,000
98159           195,218
98160         4,500,000
98161           100,000
98165         3,000,000
98166        15,000,000
98167        50,000,000
98168         1,000,000
98180            50,000
98188            10,000
98199         4,420,000
98203         1,000,000
98233         7,100,000
98242           476,000
98244            12,400
98246         2,500,000
98252           169,000
98253           243,000
98254           666,000
98258         2,000,000
98259           100,000
98261        17,500,000
98262         2,200,000
98264           155,000
98265           724,000
98266        42,000,000
98268         1,500,000
98269         1,000,000
98270           549,000
98271         2,510,000
Name: funding_total_usd, Length: 71374, dtype: object
0        1999-01-01
1        2010-12-03
2        2015-10-26
3        2008-09-01
5        2012-01-01
6        2008-01-01
7        2016-04-01
8        2011-11-01
9        2014-12-01
13       2015-01-01
14       2012-06-01
15       2016-05-15
16       2014-01-01
17       2007-09-01
19       2015-01-01
20       2016-01-16
23              NaN
26       2012-01-01
31       2012-10-01
32       2016-01-01
33       1997-01-01
34       2011-01-01
35       2015-10-01
36       2014-01-01
37       2013-01-01
38       2014-01-01
39       2016-11-30
41       2010-01-01
43              NaN
45       2008-01-01
            ...
98155           NaN
98159    1907-01-01
98160    1993-01-01
98161    1994-01-01
98165    1994-01-01
98166    1988-01-01
98167    1996-01-01
98168    1991-01-01
98180    1993-01-01
98188           NaN
98199    1989-01-01
98203    1992-01-01
98233    1989-01-01
98242    1980-01-01
98244    1935-06-01
98246    1984-12-01
98252           NaN
98253    1967-01-01
98254    1978-01-01
98258    1979-01-01
98259    1984-08-12
98261    1981-01-01
98262    1982-01-01
98264           NaN
98265    1947-01-01
98266    1937-08-28
98268    1982-02-14
98269    1974-04-04
98270    1968-01-01
98271    1968-07-18
Name: founded_on, Length: 71374, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
19       NaN
20       NaN
23       NaN
26       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
41       NaN
43       NaN
45       NaN
        ...
98155    NaN
98159    NaN
98160    NaN
98161    NaN
98165    NaN
98166    NaN
98167    NaN
98168    NaN
98180    NaN
98188    NaN
98199    NaN
98203    NaN
98233    NaN
98242    NaN
98244    NaN
98246    NaN
98252    NaN
98253    NaN
98254    NaN
98258    NaN
98259    NaN
98261    NaN
98262    NaN
98264    NaN
98265    NaN
98266    NaN
98268    NaN
98269    NaN
98270    NaN
98271    NaN
Name: closed_on, Length: 71374, dtype: object
0        43499bb5-2f2e-4b8e-7241-4f05e913e19c
1        3efb86a2-65fa-03be-5dca-2820417e2912
2        90568f60-9893-a0a5-bb0f-1a2266356cf8
3        b1047eaf-343f-309c-339a-3b1bc5f22b55
5        0fef70cb-af81-c9b6-b9e0-aa5fc3b50829
6        b1e29af9-941a-2cba-faee-b7264548b6a6
7        c1b4511e-67b1-e185-3489-3660134b1430
8        dcd6c4cb-c912-2c37-83aa-0046d09b3052
9        4b31f93e-fb64-bfa8-6173-336452d30b70
13       cbc1153f-943a-cec7-dc44-7a701a58fcdb
14       66e40cf4-9685-ff3b-b5a7-0d43cc45eefb
15       d6560d3c-1c5c-4d93-7fc2-ae5b9b7eb15c
16       4f4e0226-38df-922b-eaaf-82b534d4959f
17       43b9e775-b843-f194-fb96-d266684cfb53
19       795931ef-19ad-4529-8926-8d96e59b6a23
20       c4434087-89ab-a0e8-65f8-29f1ded9cd55
23       73a901d1-4262-bd3d-f886-9fab30249b0a
26       6f78176b-3ac4-2cd1-5080-c6abcbf39d8c
31       b9f99be2-f682-cf24-0289-dfabd0674388
32       294b963f-a02c-2e2b-9df3-f2ea673eb995
33       45210076-8e44-0015-8aed-9bcf1a134a68
34       8aa15614-fceb-c684-b676-218a13ca2f24
35       cae26a6b-85c8-3e0f-6f22-29fae9ae7bff
36       1090e5b7-9cdf-2e07-8e84-90864c3ae8e4
37       ee916cc9-6b46-bf29-9d66-e797cb8eebd2
38       203ecb6f-9a31-9251-fc40-c741e5897b4e
39       0f8c6bee-a754-078b-0f7e-5446e76d32ce
41       0e9b4779-80dc-b75a-868d-b43de012a836
43       d27ced4b-60c9-7b13-9dd5-f4a0cb6858f3
45       a3e977af-8180-1bf1-c648-7cc51e6fb71d
                         ...
98155    bcf7390f-f4e3-b13f-40c7-92f687b970dc
98159    c11ccbec-5525-1fa0-690c-69f1b3dc9ac0
98160    9a6c5be4-483e-29f3-aaa8-07049fc89ee5
98161    0a483d2f-6a63-6980-7212-cf244dfa8b7d
98165    e6ce2171-3d18-41a0-0a92-e4884cebd241
98166    addf6169-98fd-71ad-9790-8d2b437d5042
98167    9f5f9cbe-7941-d303-4400-6b43d2654499
98168    5b7d93ff-3e35-ce8f-263c-ea738d7b81ad
98180    8f0b5a1d-4e4a-444c-03e9-33e9b680be00
98188    47596185-9e7c-d27e-c65a-c929d80298c4
98199    49e46b63-08e8-a624-4f89-6f9e7cb8ce89
98203    8cbe48dd-7f08-266a-084b-63c664e973ca
98233    86d4ca60-2c45-aa6c-8ef4-94171486c3f0
98242    54d2921e-9bee-5a4c-a827-5cb661f6ab3a
98244    79dbb1e1-ad49-0546-88e5-8cc367097c8c
98246    e0906c05-fae5-9591-ba5f-2142d8b0065a
98252    83ae6334-ea55-399f-b285-3d924e0d0144
98253    185a6bc8-1368-f075-a335-5a9276ab16cf
98254    a9974969-5a5b-a5c4-c658-cc4007078dd2
98258    66d6d19a-4852-0c21-0098-4080cb90d2ac
98259    818df5a6-4a0a-6d87-5778-4dd7ca73fb09
98261    27bb6fe7-0a5d-01c6-30af-55bd8e94c8e6
98262    5a6207e2-b868-9f41-5178-8d51d2c40a93
98264    e378c0e6-278b-6243-6776-c61fdbcdc004
98265    322eee3f-a036-651f-5754-0f8759374699
98266    12b90373-ab49-a56a-4b4e-c7b3e9236faf
98268    10a3b2fd-b142-046b-7d8f-3b1aa4877aca
98269    fd80725f-53fc-7009-9878-aeecf1e9ffbb
98270    6681b1b0-0cea-6a4a-820d-60b15793fa66
98271    1e4f199c-363b-451b-a164-f94571075ee5
Name: uuid, Length: 71374, dtype: object